<h2>Kopis / Farms </h2>

Choose the Farm to check associated KOPIS



<% @farms.each_with_index do |farm, index| %>

   <a href=<%= "/kopis/farms/"+farm.id.to_s %>><p><%= farm.origin %></p></a>


<% end %>
