<h1>Coffepedia</h1>
<table>
  <tr>
    <th>Kopi</th>
    <th>Roast Type</th>
    <th>Origin</th>
  </tr>
  <% @kopis.each do |k| %>
    <tr>
      <td><%= k.name %></td>
      <td><%= k.roast %></td>
      <td><%= k.origin.location %></td>
    </tr>
  <% end %>
</table>
<%= link_to('New kopi', new_kopi_path) %>
