<h1>
All Kopis
</h1>

<% @kopis.each do |kopi| %>

<h3>Name: <%= kopi.name %> Roast: <%= kopi.roast.name %> Origin: <%= kopi.origin.location %></h3>

    <% end %>

    <a href ="/kopis/new" >Create New kopi</a>