<h2>Kopis / Roasts </h2>

Choose the Roast to check associated KOPIS

<% @roasts.each_with_index do |roast, index| %>

   <a href=<%= "/kopis/roasts/"+roast.id.to_s %>><p><%= roast.name %></p></a>


<% end %>
