<h1>Orders for <%= @kopi.name%>:</h1>
<ul>
  <% @kopi.customer.each do |k| %>
    <li><%=k.name%></li>
  <%end%>
</ul>
<%= link_to('Edit Kopi', edit_kopi_path) %>
<%= link_to('Delete kopi', kopi_path, method: :delete, data: {confirm: 'Are you sure?'}) %>
