<p>
  <strong>Kopi:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @kopi.origin.location %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast.name %>
</p>

<%= link_to 'back', root_path %>
