
<h3>Kopi Name: <%= @kopi.name %> </h3>
<p>Roast Level: <%= @kopi.roast.name %> </p>
<p>Origins: <%= link_to @kopi_farm.location, @kopi_farm %> </p>


<br/><%= link_to 'Back to Kopis', all_kopis_path, :class => "btn btn-primary" %>
