<p>
  <strong>Roast Type:</strong>
  <%= @roast.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @origin.location %>
</p>

<p>
  <strong>Kopi Bean:</strong>
  <%= @kopi.name %>
</p>

<a href=<%= origins_url %>>Home</a>