<p>
  <strong>Kopi Name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast%>
</p>

<p>
  <strong>Origin Location:</strong>
  <%= @kopi.origin.location %>
</p>

<%= link_to 'Back', kopis_path %>