<p>
  <strong>Kopi:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Origin: </strong>
  <%= @kopi.origin.name %>
</p>

<p style="font-size: 50px">
  <strong>Roast:</strong>
  <%= @kopi.roast.name %>
</p>

<%= link_to 'Back', root_path %>
