<p>
  <strong>Kopi Name:</strong>
  <%= @kopi.name %>
</p>
<p>
  <strong>Roast Name:</strong>
  <%= @kopi.roast.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @kopi.origin.location %>
</p>

<%= link_to 'Back', root_path %>