<p>
  <strong>Kopi Name:</strong>
  <%= @kopi.name %>
</p>
<p>
  <strong>Roast Type:</strong>
  <%= @roast.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @origin.location %>
</p>


<a href=<%= origins_url %>>Home</a>