<p>
  <strong>Kopi:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Origin: </strong>
  <%= @kopi.origin.name %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast.name %>
</p>

<h3>All customers that have this kopi</h3>
<ul>
	<% @kopi.customers.each do |customer| %>
		<li><%= customer.name %></li>
	<% end %>
</ul>