<h1>Showing One Farm</h1>

<p>
  <strong>Location:</strong>
  <%= @farm.location %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @farm.phone_number %>
</p>


<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_farm_path(@farm) %>