<p>
  <strong>Farm:</strong>
  <%= @farm.origin %>
</p>

<p>
  <strong>Location:</strong>
  <%= @farm.location %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @farm.phone %>
</p>

<%= link_to 'Back', farms_path, class: 'btn btn-success' %>