<p>
    <strong>Name: </strong>
    <%= @coffee.name %>
</p>

<p>
    <strong>Price: </strong>
    <%= @coffee.price %>
</p>
<p>
    <strong>Origin: </strong>
    <%= @coffee.origin.location %>
</p>

<%= link_to 'Back', coffees_path %>