<h1>Customers Kopis</h1>


    <% @customers_kopis.each do |customers_kopi| %>

        <li><%= customers_kopi.customer %>
        <%= customers_kopi.kopi %>
        <<%= link_to 'Show', customers_kopi %>
        </li>


<%= link_to 'New Customers Kopi', new_customers_kopi_path %>