<h2>Show customer:</h2>
 <h2> Hello, <%= @customers_kopi.customer %></h2>


<h3>Kopi:</h3>
<ul>
<%= @customers_kopi.kopi.each do |kopi| %>
<li> <%= customers_kopi.kopi %></li>
	<% end %>
</ul>

<%= link_to 'Back', customers_kopis_path %>