<!DOCTYPE html>
<html>
<head>
  <title>Coffee Tracker</title>
</head>
<body>

  <h1><%= @cuppa.name %></h1>
  <ul>
    <li>Origin: <%= link_to @cuppa.origin.location %></li>
    <li>Roastedness: <%= link_to @cuppa.roast.roastedness %></li>
  </ul>

</body>
</html>