<h1>All Roasts</h1>

<%= link_to 'New roast', new_roast_path %>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
    <th></th>
	</tr>

	<% @roasts.each do |roast| %>
		<tr>
				<td><%= roast.id %></td>
				<td><%= roast.name %></td>
		</tr>
	<% end %>
</table>