<h1> All roasts</h1>

<%= link_to 'Add new roast', new_roast_path %>

<% @roasts.each do |roast| %>

	<p> Roastedness: <%= roast.roastedness %> </p>

	<p> <%= link_to 'Edit roast', edit_roast_path(roast) %> || <%= link_to 'Delete roast', roast_path(roast), method: :delete, data: {confirm: 'Are you sure want to delete this roast?'} %></p>
	<br>

<% end %>