<table>
    <tr>
        <th>Origin ID</th>
        <th>Location</th>
        <th>Phone</th>
    </tr>

    <% @origins.each do |origin| %>
        <tr>
            <td><%= origin.id %></td>
            <td><%= origin.location %></td>
            <td><%= origin.phone %></td>
        </tr>
    <%end %>

</table>