// Place all the styles related to the kopis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
	// border: solid 1px red;
}

body {
	margin: 0;
	background-color: #FAFAFA;
}

a {
	text-decoration: none;
}

.header {
	background-color: #FFFFFF;
	padding: 20px 30px;
	display: flex;
	flex-direction: row;
	border-bottom: solid 1px #E7E7E7;
	align-items: center;
	justify-content: space-between;
}

.brand>div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	width: 40px;
	height: 40px;
}

.separator {
	height: 40px;
	border-left: solid 1px #000000;
	margin: 0 20px;
}

.brand>div>h1 {
	margin: 0;
	margin-right: 20px;
	font-size: 38px;
	font-family: 'Lobster', cursive;
	color: #000000;
}

.brand>p {
	margin: 5px 20px 0 0;
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Raleway', cursive;
	letter-spacing: 2px;
}

.nav {
	border: solid 2px #BEB6BF;
	padding: 10px;
	border-radius: 10px;
}

.nav:hover {
	position:relative;
	top:3px;
	border: solid 2px #3F3D40;
}

.newPost {
	text-decoration: none;
	color: #000000;
	font-family: 'Raleway', cursive;
	font-size: 20px;
	font-weight: 900;
}

.pageWrapper {
	// border: solid 1px red;
	background-color: #FAFAFA;
	width: 80%;
	margin: 0 auto;
	padding: 50px;
	// font-family: 'Raleway';
}

h2 {
	margin: 0;
	margin-right: 20px;
	font-size: 34px;
	font-family: 'Lobster', cursive;
	color: #000000;
}

.actionButton {
	border: solid 1px #BEB6BF;
	border-radius: 15%;
	padding: 8px 10px;
	color: #000000;
	font-family: 'Lobster';
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
}

.actionButton:hover {
	border: solid 2px #3F3D40;
}

form {
	font-family: 'Lobster';
}