<h1>this page shows a single kopi!</h1>
<h2>depending on the id typed in at the end</h2>

<p><%= @kopi.name %></p>
<p><%=@kopi.origin.location %></p>
<p><%=@kopi.roast.name %></p>

<h2>add in customers who stock this kopi</h2>