<h1> Displaying a Coffee Record </h1>

<p>
  <strong>Koffee Name:</strong>
  <%= @koffee.name %>
</p>

<p>
  <strong>Koffee roast:</strong>
  <%= @koffee.roast %>
</p>


<%= link_to 'Back', koffee_path %>

<%= link_to 'Edit', edit_koffee_path(@koffee) %>