<h1>
All Origins for the Kopi
</h1>

<% @origin.each do |origin| %>

<h3>Location: <%= origin.location %> Phone: <%= origin.phone %></h3>

    <% end %>

    <a href ="/origins/new" >Create New Origin</a>