<h1>Kopi Farm!</h1>

<% @origins.each do |origin| %>
<h1> Farm: <%= origin.location %> </h1>
<h1> Contact: <%= origin.phone %> </h1>
<h1> <%= link_to 'Farm Page', "/origins/#{origin.id}" %> </h1>
<% end %>