<%= link_to 'See all kopi', kopis_path %>

<h1>List of Countries</h1>

<% @origins.each do |origin| %>

	<p><%= link_to origin.location, origin_path(origin.id) %></p>

<% end %>

<%= link_to 'Create new Country', new_origin_path %>