<%= form_with scope: :origin, url: origins_path, local: true do |form| %>
  <p>
  	Name of your farm:<br>
    <%= form.text_area :location %>
  </p>

  <p>
  	Location of your farm:<br>
    <%= form.text_area :phone %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>