<h1> Display a single origin </h1>

<p>
  <strong>Origin Location:</strong>
  <%= @origin.location %>
</p>

<p>
  <strong>Origin phone:</strong>
  <%= @origin.phone %>

</p>


<%= link_to 'Back', root_path %>

<%= link_to 'Edit', edit_origin_path(@origin) %>