<p>
  <strong>Farm's location:</strong>
  <%= @origins.location %>
</p>

<p>
  <strong>Farm's phone number:</strong>
  <%= @origins.phone %>
</p>

<%= link_to 'Home page', root_path %>
<%= link_to 'List of farms', origins_path %>