<h1>
	Origin Info
</h1>

<h2>
	Location: <%= @origin.location %> <br>
	Phone : <%= @origin.phone %>
</h2>

<h1> Coffee that this origin has: </h1>
	<%  @kopi.origin.each do |origin| %>
<h2>
	<%= origin.name%><br>
	created at : <%= origin.created_at %>
</h2>
	<% end %>