<p>
	<strong>Location:</strong>
	<%= @origin.location %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @origin.phone %>
</p>

<p>
	<%= link_to 'Edit', edit_origin_path(@origin) %>
	<%= link_to 'Back', origins_path %>
</p>