

<h1> <%= @origin.location %> </h1>
<h1> <%= @origin.phone %> </h1>

<h2>Kopi Listing!</h2>
<% @kopis.each do |kopi| %>
	<h2> Name: <%= kopi.name %> </h2>
	<h2> Roast: <%= kopi.roast %> </h2>
	<h2> <%# kopi.origin_id %> </h2>
<% end %>