<p>
  <strong>Name:</strong>
  <%= @origin.location %>
</p>

<p>
  <strong>Phone_number:</strong>
  <%= @origin.phone_number %>
</p>



<%= link_to 'Edit', edit_origin_path(@origin) %>
<%= link_to 'Back', root_path %>