<h1> Origin </h1>
<table>
  <tr>
    <th>Location</th>
    <th>Phone</th>
    <th></th>
  </tr>


  <tr>
     <td><%= @origin.location %></td>
     <td><%= @origin.phone %></td>
  </tr>

</table>

<%= link_to 'Back', origins_path %>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_origin_path(@origin) %>
<% end %>