<h1>Origin Info</h1>

<p>
  <strong>Location:</strong>
  <%= @origin.location %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @origin.phone %>
</p>

<p>
    <%= link_to 'List of Kopis', origin_kopis_path(@origin) %>
</p>

<%= link_to 'Back', origins_path %>