<div class="header">
	<div class="brand">
			<div>
				<a href="/"><h1 class="headerH1">Gold Ground Roastery</h1></a>
			</div>
			<p>For all your coffee needs</p>
	</div>
	<div class="nav">
		<%= link_to 'Origins', origins_path, class: "newPost" %>
		<%= link_to 'New Coffee', new_kopi_path, class: "newPost" %>
		<%= link_to 'New Origin', new_origin_path, class: "newPost" %>
	</div>
</div>