<div class="pageWrapper">
	<% @kopis.each do |kopi| %>
		<div class="postBox">
			<h4><%= kopi.name %></h4>
			<div class="navButtons">
				<%= link_to 'View', kopi_path(kopi) %>
				<%= link_to 'Edit', edit_kopi_path(kopi) %>
			</div>
		</div>
	<% end %>
</div>