<div class = "jumbotron">
	<h1>All Customers in the Customerverse</h1>

	<table class="table">
	  <tr>

	    <th>Kopi</th>
	    <th>Customer</th>


	  </tr>

	  <% @customers.each do |o| %>
	    <tr>
	    	 <td><%= o.name %></td>
	    	 <td><%= o.kopis %></td>


	    </tr>
	  <% end %>
	</table>

</div>