<h1>Customer Index</h1>

<%= link_to 'New Customer', new_customer_path %>

<ul>
<% @customers.each do |customer| %>
    <li><%= customer.name %>
    <%= link_to 'Show', customer_path(customer) %>
    </li>
<% end %>
</ul>