<h2>Customer <%= @customer.name %></h2>
<h3>Kopis this customer stocks:</h3>
<ul>
  <% @customer.kopis.each do |kopi| %>
    <li><%= link_to kopi.name, kopi_path(kopi) %></li>
  <% end %>
</ul>

<% if current_user.try(:admin?) %>
  <%= link_to 'Edit CUstomer', edit_customer_path, class: 'waves-effect waves-light btn' %>
<% end %>
