<h1><%= @customer.email %></h1>
<h3>Kopis</h3>
<ul>
<% @kopis.each do |kopi| %>
    <li><%= kopi.name %></li>
<% end %>
</ul>

<%= link_to 'Choose Kopis', edit_customer_path(@customer) %>

<%= link_to 'Show all customers', customers_path%>