<p><%= link_to 'Home page', root_path %> </p>
<p><%= link_to 'List of customers', customers_path %></p>
<p><%= link_to 'Add coffees to this user?', customers_path %></p>

<p>
  <strong>Customers's name:</strong>
  <%= @customer.name %>
</p>