<p>
  <strong>Customer Name:</strong>
  <%= @customer.name %>
</p>

  <strong>Kopis:</strong>
  <table>
	  <% @customer.kopis.each do |kopi| %>
	  	<tr>
			  <td><%= @kopi.name %></td>
			 </tr>
		<% end %>
	</table>