<p>
  <strong>Customer Name:</strong>
  <%= @customer.name %>
</p>

  <strong>Kopis:</strong>
  <table>
	  <% @customers.kopi each do |customers.kopi| %>
	  	<tr>
			  <td><%= @customer.kopi.name %></td>
			 </tr>
		<% end %>
	</table>