
<% @orders.each do |order| 

    price = order.weight.to_f * order.kopi.pound_price.to_f
    
%>
    <h1>Full price: $<%= price %> for order #<%= order.id %></h1>

<% end %>

<h3><%= link_to 'log out', destroy_user_session_url, method: :delete %><h3>