<% if params[:id] %>
<h1>Full price: $<%= @order.weight.to_f * @order.kopi.pound_price.to_f %> for order #<%= @order.id %><h1>
<% end %>

<% if !params[:id] %>
    <h1>#<%= @order.count() %> Orders today</h1>
<% end %>

