<p>
  <strong>Kopi Name:</strong>
  <%= @order.kopi.name %> 
</p>

<p>
  <strong>Weight:</strong>
  <%= @order.weight_in_pound %> pound
</p>

<p>
  <strong>Total Price:</strong>
  <%= @order.total_price %>
</p>

<%= link_to 'Back', root_path %>