<h2>Order</h2>
<h2><%= @order.weight %>kg of <%= @order.kopi.name %></h2>

<p>$<%= @order.kopi.price_per_kg %> per kg gives a total price of:</p>
<p>$<%= @order.kopi.price_per_kg * @order.weight %></p>
