<h1>show order</h1>


<p>
  <strong>Weight in g:</strong>
  <%= @order.weight %>
</p>

<p>
  <strong>Kopi:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Orders', orders_path %>