<h2>Edit Roasts</h2>
<br>

<%= form_with scope: :roast, model: @roast, local: true do |form| %>
<div class="form-group">

    <%= form.label :roast, for:"exampleFormControlInput1" %><br>
    <%= form.text_field :roast, class: "form-control" %>
    <br>
    <%= form.submit "update", class: "btn btn-primary"  %>
</div>

<% end %>