<h1>All Farms</h1>

<table>
  <tr>
    <th>Roast</th>
    <th></th>
  </tr>

  <% @roasts.each do |roast| %>
    <tr>
      <td><%= roast.name %></td>
      <td><%= link_to 'Show', roast_path(roast) %></td>
    </tr>
  <% end %>
</table>