<div class="card-columns d-inline-block">
  <% @roasts.each do |roast| %>
    <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title"><%= roast.name %></h3>
      </div>
    </div>
  <% end %>
</div>
