<h1 class="display-4">Listing roasts</h1>


<table class="table">
<thead>
<tr>
<th scope="col">Name</th>
<th scope="col"></th>
</tr>
</thead>
<tbody>
<% @roasts.each do |roast| %>
  <tr>
  <td><%= roast.name %></td>
  
  </tr>
  <% end %>
  </tobdy>
  </table>
  <%= link_to('New roast', new_roast_path, {:class => "btn btn-primary"} )%>