<h1>Add a new roast</h1>

<%= form_with scope: :roast, url: roasts_path, local: true do |form| %>
<p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

 <p>
    <%= form.submit %>
  </p>
  <% end %>