<h1>Roasts New</h1>

<%= form_with scope: :roast, url: roasts_path, local: true do |form| %>

  <p>
    <%= form.label :roast %><br>
    <%= form.text_field :roast %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
