<h1> Roast </h1>
<table>
  <tr>
    <th>Name</th>
  </tr>


  <tr>
     <td><%= @roast.name %></td>
  </tr>

</table>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_roast_path(@roast) %>
<% end %>
<%= link_to 'Back', roasts_path %>

