<h1>Roast info:</h1>
<p>Name:
    <%=  @roast.name %>
</p>

<h3>Kopis with this roast:</h3>
    <%  @kopis.each do |kopi| %>
        <p>
            <%= kopi.name%>
        </p>
<% end %>

<%= link_to 'Edit', edit_roast_path(@roast) %> |

<%= link_to 'Back', roasts_path %>