<h1> Roast </h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>


  <tr>
     <td><%= @roast.name %></td>
  </tr>

</table>

<%= link_to 'Back', roasts_path %>

<%= link_to 'Edit', edit_roasts_path(@roast) %>