<h1>Roast:</h1>
    <p><%= @roast.name %></p>
<table>
    <tr>
      <td><%= link_to 'Edit', edit_roast_path(@roast.id) %></td>
      <td><%= link_to 'Destroy', roast_path(@roast.id),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
</table>


