<p>
  <strong>Name:</strong>
  <%= @roast.name %>
</p>


 <a href=<%= roasts_url %>>Home</a>

 <div><%= link_to 'Edit', edit_roast_path(@roast) %> | <%= link_to 'Destroy', roast_path(@roast), method: :delete, data: { confirm: 'Are you sure?' } %> </div>