<h1><%= @roast.name %></h1>
<ul>
  <% @roast.kopi.each do |kopi| %>
    <li><%= kopi.name %></li>
  <% end %>
</ul>

<% if current_user.is_admin %>
<%= link_to "Edit roast", edit_roast_path %>
<% end %>
