<html>
<p>
  <strong>Location:</strong>
  <%= @farm.location %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @farm.phone_number %>
</p>

<%= link_to 'Back', farms_path %>
<%= link_to 'Delete', farm_path(@farm), method: :delete %>
</html>