<h1>List of Customers</h1><br>

<%= form_tag(customers_path, {method: "get", enforce_utf8: false}) do %>
	<label>Sort by</label>
	<select name=“sortby” onchange=“this.form.submit()“>
			<option value=“asc”>Least number of Kopi</option>
   		<option value=“desc”>Most number of Kopi</option>
	</select>
<% end %>

<ul>
	<% @customers.each do |customer| %>
		<li><%=link_to customer.name, customer_path(customer) %></li>
	<% end %>
</ul>



<%= link_to 'Kopis', root_path %>
<%= link_to 'New customer', new_customer_path %>