<h1>List of Customers</h1><br>

<ul>
	<% @customers.each do |customer| %>
		<li><%=link_to customer.name, customer_path(customer) %></li>
	<% end %>
</ul>

<%= link_to 'Kopis', root_path %>
<%= link_to 'New customer', new_customer_path %>