<p>
  <strong>Name:</strong>
  <%= @akopi.kopi_namee %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @kopi.origin %>
</p>

<%= link_to 'Back', root_path %>