// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "_variables.scss";

* {
		font-family: $sans-serif-default;
}

body {
		width: 100%;
		display: flex;

		flex: {
				direction: column;
		}

		justify-content: space-around;
		align-items: center;
		min-height: 50vh
}