// Place all the styles related to the Kopis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

	background-image: url("/cat.jpeg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-link{
	color:white;
}
