<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<strong>Kopi chosen:</strong>
<ul>
	<% @customer.kopis.each do |kopi| %>
		<li><%= kopi.name %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_customer_path %>
<%= link_to 'Back to Orders', root_path %>