<html>
<% @kopis.each do |coffee| %>
    <p>
        <h3>Name: <%= coffee.name %></h3>
        <ul>
        <li><h4>This coffee's roast is <%= coffee.roast %></h4>
        <li><h4>This coffee's from <%= coffee.farm.location %></h4>
        </ul>
    </p>
    <br/>
<%end %>
</html>