<html>
<p>
  <strong>Name:</strong>
  <%= @kopi.name %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @kopi.roast %>
</p>

<p>
  <strong>Farm:</strong>
  <%= @kopi.farm.location %>
</p>

<%= link_to 'Back', kopis_path %>

</html>