<h1>Origin: <%= @origin.location %></h1>

<p>
  <strong>Phone Number:</strong>
  <%= @origin.phone_number %>
</p>




<%= link_to 'Back', origins_path %>

<%= link_to 'Edit', edit_origin_path(@origin) %>