<a href=<%= kopis_path %>>Home</a>
<a href=<%= orders_path %>>Orders</a>
<a href=<%= reports_path %>>Report</a>


<% @total = @orders.where(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).map{|order|order.weight*order.kopi.price_per_pound/100}.sum %>


<h1>Total Sales For Today: $<%= @total %> </h1>

<h1>Sales by Kopi</h1>