<h1>ALL ORDERS FOR TODAY CONSOLIDATED</h1>
<% @orders.each do |order| %>
  <p>Order <%= order.id %> for <%= order.kopi.name %>: $<%= order.weight * order.kopi.price %></p>
<% end %>
Day total: $<%= @total %>
