<% @orders.each do |order| %>
  <p>Order <%= order.id %></p>
  <p>
    <%= order.kopi.name %>
    <strong>$<%= order.weight * order.kopi.price %></strong></p>
<% end %>
Total: <strong>$<%= @total %></strong>
